@import 'normalize.css/normalize.css';
@import './libs/bootstrap-grid-3.3.1.min.css';
@import './fonts.css';

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
header {
  background-image: url(../images/headerfon.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  position: relative;
  min-height: 642px;
  

}