@import 'normalize.css/normalize.css';
@import './libs/bootstrap-grid-3.3.1.min.css';
@import './fonts.css';

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
header {
  background-image: url(../images/headerfon.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  position: relative;
  min-height: 645px;
  font-family: 'BebasRegular';
  border-bottom: 1px solid #626262;
}
header a{
  color: #fff;
}
  .top_line {
    min-height: 97px;
  border-bottom: 1px solid #626262;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60);
  padding: 22px 0;
}
.top_line a{
  font-size: 21px;
  border-bottom: #fff dashed 1px ;
  /* медленное затухание*/
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.top_line a:hover {
  border-bottom: transparent 1px dashed;
}
.top_addr {
   padding-left: 50px;
   background-image: url(../images/top_map.png);
   background-repeat: no-repeat;
   background-position: left top;
   line-height: 26px; 
}
 .top_addr strong {
   display: block;
   color: #d12f22;
   font-size: 32px;
   font-weight: normal;
   text-transform: uppercase;
}
  .top_line .logo{
   border-bottom: none;
   margin-top: -18px;
   position: absolute;
  
}
  .top_line .logo:hover{
   border-bottom: none;
   
}
.logo_wrap{
  margin: auto;
  position: relative;
  width: 249px;
}
.ta_right {
  background-image: none;
  padding-left: 0;
  text-align: right;
}
.ta_right span{
  color: #fff;
}
header h1 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  font-size: 40px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.55);
}
.button {
  display: inline-block;
  background-color: #d12f22;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding: 0 25px;
  font-size: 20px;
  border-bottom: #ac160a 4px solid;
  color: #fff;
  font-family: "BebasRegular";
}
.button:hover{
  background-color: #e66d6d;
}
.button:active{
  background-color: #860000;
}
header .button{
  margin-right: 20px;
}
.button.st_button {
  line-height: 18px;
  padding-top: 5px;
  text-align: left;
  padding-left: 63px;
  background-image: url(../images/camera_icon.png);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}
.buttons_top {
  position: absolute;
  width: 100%;
  bottom: 33px;
}
.top_menu{
  height: 62px;
  /*высота изменена автором*/
  background-color: #242424;
  border-bottom: 1px solid #626262;
  font-family: BebasRegular;
  text-transform: uppercase;
}
.top_menu ul,
.bottom_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.top_menu a{
  color: #fff;
  font-size: 20px;
  padding: 0 26px 0 54px;
  display: block;
  line-height: 62px;
}
.top_menu li{
  float: left;
}
.top_menu li.top_icon1,
.top_menu li:hover{
  background-color: #050505;
  border-left: #3b3b3b 1px solid;
}
.top_icon1 {
  background-image: url(../images/top_icon1.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 15px;
}   
.top_icon2 {
  background-image: url(../images/top_icon2.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 15px;
  border-left: #3b3b3b 1px solid; 
}
.top_icon3 {
  background-image: url(../images/top_icon3.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 15px;
  border-left: #3b3b3b 1px solid;
   
}
.top_icon4 {
  background-image: url(../images/top_icon4.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 10px;
  border-left: #3b3b3b 1px solid;
}
.top_icon5 {
  background-image: url(../images/top_icon5.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 15px;
  border-left: #3b3b3b 1px solid;
}
.top_icon6 {
  background-image: url(../images/top_icon6.png);
  background-repeat: no-repeat;
  background-position: 10px 20px;
  padding-left: 10px;
  border-left: #3b3b3b 1px solid;
}
.warranty {
  float: right;
  color: #fff;
  cursor: default;
  font-size: 15px;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 3px 5px;
  line-height: 16px;
  margin-top: 8px;
}
.w_left,
.w_right{
  display: inline-block;
  vertical-align: top;

}
.w_left{
  font-family: "BebasBold";
  font-size: 20px;
  margin-top: 10px;
  margin-right: 7px;
}
.w_left span{
  font-size: 33px;
}
.w_right{
  font-family: "RobotoCondensedRegular";
}
.main_cats{
  background-color: #191919;
  padding: 20px 0 42px;
}
.main_cats h2,
.art_header{
  text-transform: uppercase;
  color: #c9c9c9;
  font-family: "BebasRegular";
  font-size: 40px;
  text-align: center;
}
.main_cats h2 strong{
  color: #fff;
}
.main_cats h2 span{
  color: #d12f22;
}
section h2,
artticle h2{
  position: relative;
}
.s_black h2::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url(../images/arleft_icon.png);
  top: 18px;
  margin-left: -68px;
}
.s_black h2::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url(../images/arright_icon.png);
  top: 18px;
  margin-left: 19px;
}
article h2.art_header::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url(../images/arleftbl_icon.png);
  top: 52px;
  margin-left: -56px;
}
article h2.art_header::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background-image: url(../images/arrightbl_icon.png);
  top: 52px;
  margin-left: 6px;
}
.mc_item{
  border: #353535 1px solid;
  border-radius: 2px;
  
}
.mc_item_wrap{
  margin-left: 30px;
  width: 160px;
  display: inline-block;
  text-align: center;
  
}
.mc_item_wrap:nth-child(1){
  margin-left: 0;
  
}
.mc_wrap{
  text-align: center;
  padding: 0;
  position: relative;
}
.mc_item_wrap a{
  color: #fff;
}
.mc_item span{
  display: block;
  height: 85px;
  width: 122px;
  background-image: url(../images/cats_iconset.png);
  margin: 15px auto;
}
.mc_item_wrap:nth-child(1) span {
  background-position: 9px 0;
}
.mc_item_wrap:nth-child(2) span {
  background-position: -118px 0;
}
.mc_item_wrap:nth-child(3) span {
  background-position: -245px 0;
}
.mc_item_wrap:nth-child(4) span {
  background-position: -370px 0;
}
.mc_item_wrap:nth-child(5) span {
  background-position: -500px 0;
}
.mc_item_wrap:nth-child(6) span {
  background-position: -622px 0;
}
.mc_item h4{ 
  font-size: 20px;
  font-weight: normal;
  font-family: BebasRegular;
  margin-top: 5px;
  margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.activ h4{
  text-decoration: underline;
}
.mc_item_wrap.activ,
.mc_item_wrap:hover{
  background-color: #2a2a2a;
}
.mc_toggle {
  background-color: #212121;
  position: relative;
  height: 25px;
  cursor: pointer;
  background-image: url(../images/mc_ar.png);
  background-repeat: no-repeat;
  background-position: -118px 10px;
}
.mc_item_wrap.activ .mc_toggle,
.mc_item_wrap:hover .mc_toggle{
  background-color: #353535;
  background-position: 72px 10px;
}

 .mc_item_wrap > ul {
  width: 100%;
  text-align: center;
  position: absolute;
}
.mc_item_wrap > ul li {
  display: inline-block;  
  font-family: "BebasRegular";
}

.mc_item_wrap > ul {
  width: 100%;
  font-size: 20px;
  background-color: #353535;
  margin-top: 25px;
  position: absolute;
  list-style-type: none;
  padding: 15px 0;
  /*плавные переходы по ссылкам в меню*/
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  right: 0;
  z-index: 100; 
}

.mc_item_wrap > ul li a{
  padding: 0 10px;
  text-decoration: underline;
}
.mc_item_wrap > ul li a:hover{
  text-decoration: none;
}
 /* временно отключил треуглы*/
.angle_1::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 74px;
}
.angle_2::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 270px;
}
.angle_3::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 464px;
}
.angle_4::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 658px;
}
.angle_5::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 854px;
}
.angle_6::before {
  content: "";
  width: 18px;
  height: 9px;
  background-image: url(../images/mc_c_ar.png);
  position: absolute;
  display: block;
  margin: -23px 1048px;
}
.mc_wrap span::afer{
  background-image: none;
}
ul .mc_c_ar{
  visibility: hidden;
  opacity: 0;
}
body .mc_wrap li:hover > ul{
  visibility: visible;
  opacity: 1;
}
.mc_button_w {
  text-align: center;
  margin-top: 30px;
}
article.content{
  background-color: #e9e9e9;
}
.art_header{
  color: #050505;
  margin-bottom: 10px;
}
.h_descr{
  min-width: 790px;
  text-align: center;
  font-family: "RobotoBold";
  color: #050505;
  font-size: 16px;
  margin-top: 0;
}
.home_items{
  background-color: #d6d6d6;
  padding-top: 50px;
  margin-top: 37px;
}
.hi_item{
  color: #050505;
  font-family: "RobotoBold";
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
  min-height: 396px;
}
.hi_item img{
  border-top: #ac160a 8px solid;
}
aside.oda{
  background-color: #ffffff;
  padding: 15px 0 0 0;
}
.h_foot{
  color: #050505;
  font-family: "BebasRegular";
  font-size: 36px;
}
.mc_button_f{
  margin-top: 22px;
}
.oda p{
  font-family: "RobotoBold";
  font-size: 16px;
  color: #050505;
}
aside .last_img {
  margin-top: 20px;
}
footer{
  background-color: #2a2a2a;
  padding-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "BebasRegular";
  font-size: 20px;
}
.bottom_nav li{
  display: inline-block;
}
.bottom_nav a{
  padding: 0 0px 0 36px;
  line-height: 62px;
  text-decoration: underline;
}
.bottom_nav a:link,
.bottom_nav a:visited{
  color: #fff;
}
.counter span{
  background-image: url(../images/counter.png);
  display: block;
  width: 88px;
  height: 31px;
  margin: 16px;
  float: right;
}
/**/



