@import 'normalize.css/normalize.css';
@import './libs/bootstrap-grid-3.3.1.min.css';
@import './fonts.css';

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
header {
  background-image: url(../images/headerfon.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  position: relative;
  min-height: 645px;
  font-family: 'BebasRegular';
}
header a{
  color: #fff;
}
  .top_line {
    min-height: 97px;
  border-bottom: 1px solid #626262;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60);
  padding: 22px 0;
}
.top_line a{
  font-size: 21px;
  border-bottom: #fff dashed 1px ;
  /* медленное затухание*/
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.top_line a:hover {
  border-bottom: transparent 1px dashed;
}
.top_addr {
   padding-left: 50px;
   background-image: url(../images/top_map.png);
   background-repeat: no-repeat;
   background-position: left top;
   line-height: 26px; 
}
 .top_addr strong {
   display: block;
   color: #d12f22;
   font-size: 32px;
   font-weight: normal;
   text-transform: uppercase;
}
  .top_line .logo{
   border-bottom: none;
   margin-top: -18px;
   position: absolute;
  
}
  .top_line .logo:hover{
   border-bottom: none;
   
}
.logo_wrap{
  margin: auto;
  position: relative;
  width: 249px;
}
.ta_right {
  background-image: none;
  padding-left: 0;
  text-align: right;
}
.ta_right span{
  color: #fff;
}
header h1 {
  text-align: center;
  color: #fff;
  margin-top: 65px;
  font-size: 40px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.55);
}
.button {
  display: inline-block;
  background-color: #d12f22;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding: 0 25px;
  font-size: 20px;
  border-bottom: #ac160a 4px solid;
}
.button:hover{
  background-color: #e66d6d;
}
.button:active{
  background-color: #860000;
}
header .button{
  margin-right: 20px;
}
.button.st_button {
  line-height: 18px;
  padding-top: 5px;
  text-align: left;
  padding-left: 63px;
  background-image: url(../images/camera_icon.png);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}
.buttons_top {
  position: absolute;
  width: 100%;
  bottom: 33px;
}




